.mensagem-apresentacao{
    margin: 0;
    color: white;
    font-size: 2em;
}

.conteudo-pagina-inicial{
    background-color: #A4F995;
    height: calc(100vh - 156px);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Share Tech Mono', monospace;
}

.conteudo-pagina-inicial .card{
    margin: 0 auto;
}

.conteudo-pagina-inicial .card-header{
    background-color: #58585A;
}

.conteudo-pagina-inicial .card-body{
    background-color: #EF4036;
}

.formulario-apresentacao{
    margin: 0;
}

.caixa-btn-ir{
    text-align: center;
}

.btn-ir{
    border: none;
    background-color: unset;
    padding: 0;
}

.img-btn-ir{
    width: 90px;
    transition: .5s;
}

.img-btn-ir:hover{
    transform: scale(1.2);
}

@media(max-width: 400px){
    .conteudo-pagina-inicial .card-body{
        background-color: #FFCB01;
    }

    .borda-destaque{
        border: 1px solid #58585A;
    }

    .mensagem-apresentacao{
        font-size: 1.5em;
    }

    .formulario-apresentacao .input-group{
        margin: 20px 0;
    }

    .btn-ir{
        margin-top: 15px;
        margin-bottom: 5px;
    }
}

@media(max-width: 700px){
    .img-btn-ir{
        width: 80px;
    }
}

@media(min-width: 400px){
    .conteudo-pagina-inicial .card{
        width: 90%;
    }
}

@media(min-width: 700px){
    .conteudo-pagina-inicial .card{
        width: 85%;
    }
}

@media(min-width: 900px){
    .conteudo-pagina-inicial .card{
        width: 80%;
    }
}

@media(min-width: 1100px){
    .conteudo-pagina-inicial .card{
        width: 70%;
    }
}

@media(min-width: 1200px){
    .conteudo-pagina-inicial .card{
        width: 60%;
    }
}

@media(min-width: 1450px){
    .conteudo-pagina-inicial .card{
        width: 50%;
    }
}

@media(min-width: 1450px){
    .conteudo-pagina-inicial .card{
        width: 50%;
    }
}

@media(min-width: 1700px){
    .conteudo-pagina-inicial .card{
        width: 45%;
    }
}

@media(min-width: 1800px){
    .conteudo-pagina-inicial .card{
        width: 40%;
    }
}