body.jogar{
    background-color: khaki;
}

body.jogar .link-sorteio{
    background-color: #ffffff;
}

.conteudo-jogar{
    height: calc(100vh - 156px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.area-card{
    background-color: #000000;
    border: 20px outset rgb(192, 190, 190);
    width: 300px;
    height: 300px;
}

.caixa-cards-jogar{
    display: flex;
    background-color: #000000;
    width: 900px;
}

.img-card-jogar{
    width: 100%;
    padding: 10px;
}

.caixa-botao-ir{
    margin-top: 30px;
}

.btn-jogar{
    background-color: rgb(7, 136, 7);
    width: 100px;
    height: 100px;
    border: 8px solid rgb(11, 156, 11);
    border-radius: 50px;
    outline: 3px solid rgb(14, 179, 14);
}