body.home{
    background-color: #D1F1FF;
}

.conteudo-home{
    height: calc(100vh - 156px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.caixa-alert{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.conteudo-alert{
    width: 98%;
}

.secao-cards-pokemon{
    /* background-color: #000000; */
    margin: 20px;
    display: flex;
    justify-content: space-around;
    height: 55vh;
}

.conhecer,
.jogar{
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* .conhecer{
    background-color: red;
}

.jogar{
    background-color: pink;
} */

.card-jogo{
    background-color: sienna;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;
    width: 300px;
    height: 450px;
    border: 1px solid gray;
    box-shadow: 5px 6px 7px 7px rgba(0,0,0,0.82), inset 4px 4px 15px 0px #53300e;
    transition: 0.2s;
}

.card-jogo:hover{
    margin-bottom: 20px;
}

.caixa-imagem-card{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.link-card, .link-card:hover{
    text-decoration: none;
    color: black;
    display: block;
}

.img-card{
    width: 100%;
    padding: 20px 10px 0 10px;
}

.caixa-texto{
    background-color: white;
    border-radius: 0 0 20px 20px;
    padding: 15px;
}

.caixa-texto p{
    font-size: 1.1em;
    text-align: justify;
    margin: 0;
}

@media(max-width: 830px){
    .conteudo-home{
        height: auto;
        display: block;
    }

    .card-jogo:hover{
        margin: 0;
        transform: scale(1.1);
    }

    .secao-cards-pokemon {
        flex-direction: column;
        justify-content: unset;
        align-items: center;
        margin: 0;
        height: auto;
    }

    .card-jogo{
        width: 250px;
        height: 400px;
    }

    .conhecer{
        padding-top: 40px;
    }

    .conhecer,
    .jogar{
        padding-bottom: 40px;
        width: 100%;
    }
}

@media(max-width: 400px){
    .img-card{
        width: 60%;
    }

    .card-jogo{
        width: 250px;
        height: 300px;
    }
}

@media(max-width: 350px){
    .card-jogo {
        width: 100%;
    }
}