.menu-principal{
    background-color: #EF4036;
}

.menu-principal .container-fluid{
    justify-content: unset;
}

.img-logo{
    width: 50px;
}

.titulo-logo{
    font-family: 'Share Tech Mono', monospace;
    color: #FFCB01;
    text-shadow: 4px 3px 0px #3d58a5;
    font-size: 2.5em;
    font-weight: 700;
    margin-bottom: 0;
    cursor: default;
}

@media(max-width: 430px){
    .titulo-logo {
        font-size: 2em;
    }
}

@media(max-width: 300px){
    .menu-principal .container-fluid{
        display: block;
        text-align: center;
    }

    .img-logo{
        width: 40px;
    }

    .titulo-logo {
        font-size: 1.9em;
    }
}