.cabecalho-pagina-inicial{
    background-color: #EF4036;
    height: 90px;
    display: flex;
    align-items: center;
    padding: 0 50px;
}

.caixa-logo{
    display: flex;
    align-items: center;
}

.img-logo{
    width: 50px;
    margin-right: 5px;
}

.titulo-logo{
    font-family: 'Pacifico', cursive;
    color: #FFCB01;
    text-shadow: 4px 3px 0px #3D58A5;
}

.rodape-pagina-inicial{
    background-color: #3D58A5;
    color: #ffffff;
    text-align: center;
}