.titulo-logo a,
.titulo-logo a:hover,
.titulo-logo a:visited,
.titulo-logo a:active{
    text-decoration: none;
    color: #3d58a5;
}

.lista-navegacao-principal{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.item-navegacao-principal{
    margin-left: 10px;
}

.link-navegacao-principal,
.link-navegacao-principal:hover{
    text-decoration: none;
}

.link-navegacao-principal{
    background-color: #ffffff;
    color: black;
    display: block;
    padding: 10px 15px;
    border-radius: 20px;
}

/*menu responsivo*/
.botao-menu{
    background-color: transparent;
    border: unset;
    font-size: 1.5em;
    display: none;
}

@media(max-width: 1000px){
    .botao-menu{
        display: block;
    }

    .lista-navegacao-principal{
        display: block;
        position: absolute;
        background-color: #FFCB01;
        width: 100%;
        top: 86;
        left: 0;
        border-top: 1px solid rgba(255, 255, 255, 0.4);
        z-index: 5;
    }

    .item-navegacao-principal{
        margin-bottom: 10px;
        margin-left: 30px;
    }

    .item-navegacao-principal:first-child{
        margin-top: 10px;
    }

    .link-navegacao-principal{
        background-color: transparent;
        color: black;
        padding: 2px;
        display: inline-block;
    }

    .visibilidade-padrao{
        display: none;
    }
}