.menu-principal{
    background-color: #FFCB01;
    display: flex;
    justify-content: center;
    padding: 1.14em 0;
}

.container-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.caixa-logo{
    display: flex;
    align-items: center;
}

.img-logo{
    width: 50px;
    margin-right: 10px;
}

.img-logo:hover{
    transform: rotate(360deg);
    transition: .6s;
}

.titulo-logo{
    font-family: 'Rampart One', cursive;
    color: #3d58a5;
    font-size: 2.5em;
    font-weight: 700;
    margin-bottom: 0;
    cursor: default;
}

@media(max-width: 550px){
    .titulo-logo {
        font-size: 2em;
    }
}

@media(max-width: 400px){
    .menu-principal{
        background-color: #EF4036;
        padding: 10px 0;
    }

    .titulo-logo{
        color: #FFCB01;
        font-family: 'Share Tech Mono', monospace;
    }

    .menu-principal .caixa-logo{
        display: block;
        text-align: center;
        width: 100%;
    }

    .img-logo{
        width: 40px;
        margin: 0;
    }

    .titulo-logo {
        font-size: 1.9em;
    }
}